<!DOCTYPE html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="lead bg-success">
	Weather for $weather.name
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Day</td>
				<td>Temperature (Celsius)</td>
				<td>Condition</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$!weather.getFormattedDt()</td>
				<td>$!weather.getMain().getTemp()</td>
				<td>$!weather.weather.get(0).getDescription()</td>
			</tr>
		</tbody>
	</table>	
</body>
</html>