<web-app>	
	<display-name>Weather Service</display-name>

	<servlet>
		<servlet-name>com.kevfung.WeatherServiceApplication</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>com.kevfung.WeatherServiceApplication</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>